
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        {% for key, value in melon_dict.items() %}
        <tr>
            <td>{{ value[1]}}</td>
            <td>{{ value[2]}}</td>
            <td>${{ value[0]}}</td>
            <td>${{ value[3]}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    <h3>Total: ${{ melon_total_price }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
